@tailwind base;
@tailwind components;
@tailwind utilities;

/* main {
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
}